<!DOCTYPE html>
<html>
  <head>
    <title>Dckwebsite</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <h2>The home of Dougies future website</h2>
  </body>
</html>
